@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Manrope:wght@400;600;800&display=swap");

@import "mixins/breakpoints";

@import "common/normalize";
@import "common/variables";
@import "common/nav";
@import "common/footer";
@import "common/contact-form";

@import "helpers/helpers";
@import "helpers/page-helpers";

html {
  color: $text-color-dark;
  font-size: 20px;
  line-height: 32px;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: geometricPrecision;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 26px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 13px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background: $color-grey-dark;
    }
  }
}

body {
  background: url("../images/footer-bg.svg") calc(50% - 500px) bottom no-repeat;
}

a {
  color: $color-blue-dark;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: $color-blue-dark;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  padding: 0;
}

.homepage #navigation .wrapper {
  background: $color-blue-dark;
}

.homepage #navigation nav ul li a {
  color: $color-white;
}

#top {
  position: relative;
  background: $color-blue-dark;
  color: $color-white;

  .container {
    position: relative;

    @include breakpoint(small) {
      display: grid;
      grid-template-columns: 790px 1fr;
    }
    @include breakpoint(medium) {
      min-height: 650px;
    }

    &:before {
      display: block;
      content: "";
      width: 1226px;
      height: 633px;
      position: absolute;
      bottom: 0;
      right: -130px;
      background: url("../images/top-bg1.svg") right top no-repeat;
      background-size: 1226px 663px;
      z-index: 2;
    }

    &:after {
      display: block;
      content: "";
      width: 1211px;
      height: 650px;
      position: absolute;
      bottom: 0;
      right: -130px;
      background: url("../images/top-bg2.svg") right top no-repeat;
      background-size: 1211px 650px;
      z-index: 1;
    }

    .slogan {
      position: relative;
      z-index: 3;

      @include breakpoint(medium) {
        padding-top: 20px;
      }

      h2 {
        position: relative;
        font-size: 84px;
        line-height: 96px;
        font-weight: 400;

        &:before {
          content: "";
          display: block;
          width: 300px;
          height: 2px;
          position: absolute;
          bottom: 35px;
          right: 105px;
          background: $color-white;
        }
      }

      h3 {
        font-family: "Krona One", sans-serif;
        font-size: 112px;
        line-height: 128px;
        margin: 20px 0 20px -2px;
      }
    }

    .picture {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      img {
        position: relative;
        z-index: 3;

        @include breakpoint(medium) {
          transform: translateX(34px);
        }
      }
    }

    .dot {
      position: absolute;
      bottom: -45px;
      right: 300px;
      z-index: 10;
    }
  }
}

#about-me {
  background: url("../images/aboutme-bg2.svg") calc(50% - 290px) top no-repeat;

  .container {
    padding: 60px 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 380px 380px 1fr;
    grid-column-gap: 80px;

    .col {
      p {
        margin-bottom: 32px;
        position: relative;
        z-index: 2;

        & ~ a {
          margin-top: 32px;
          display: inline-block;
          margin-bottom: 40px;
        }
      }

      &:nth-child(3) {
        position: relative;

        &:before {
          position: absolute;
          content: "";
          width: 593px;
          height: 823px;
          background: url("../images/aboutme-bg.svg") center center no-repeat;
          top: -125px;
          right: -130px;
          z-index: 1;
        }

        img {
          position: absolute;
          top: -110px;
          right: -130px;
          z-index: 2;
        }
      }
    }
  }
}

#publications-articles {
  background: $color-beige;

  .container {
    padding: 60px 0;
  }

  .lead {
    margin-right: 310px;
    margin-bottom: 100px;
  }

  .wrapper{
    article {
      padding: 20px 0;
      max-width: 600px;
      position: relative;

      span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 800;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-orange-light;
      }

      h3 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        margin: 10px 0 20px 0;
        color: $color-blue-light;
      }

      p {
        color: $color-blue-light;
      }

      img {
        display: none;
      }

      &.active {
        span {
          color: $color-orange;
        }

        h3, p {
          color: $text-color-dark;
        }

        img {
          display: block;
          position: absolute;
          top: -40px;
          right: -600px;
        }

      }
    }
  }
}

#publications-books {
  background: url('../images/publications.svg') center top no-repeat $color-beige;
  text-align: center;

  .container {
    padding: 30px 0 60px 0;
    text-align: left;
  }

  .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 80px;

    article {
      span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 800;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $color-blue-dark;
      }

      h3 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 600;
        margin: 10px 0 20px 0;
        color: $text-color-dark;
      }
    }
  }

  .more {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

#podcast {
  padding: 100px 0 70px 0;
  background: url('../images/podcast-bg.svg') calc(50% + +200px) calc(100% + 10px) no-repeat $color-silver;

  .container{
    position: relative;
  }

  .lead {
    margin-right: 400px;
    margin-bottom: 60px;
  }

  .dot {
    width: 210px;
    height: 210px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 10;
  }

  .wrapper {
    max-width: 630px;

    p{
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  .apps {
    margin-top: 20px;

    p{
      font-size: 14px;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;

      li {
        margin: 0;
        padding: 0;

        &:before {
          display: none;
        }

        a {
          text-decoration: none;
          color: $text-color-dark;
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

#pre-footer {
  padding: 60px 0 0 0;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }

  p {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .contact {

  }
}

.container {
  margin: 0 25px;
}

@include breakpoint(xsmall) {
}

@include breakpoint(small) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@include breakpoint(medium) {
  .container {
    width: 960px;
  }
}

@include breakpoint(large) {
  .container {
    width: 1200px;
  }
}

