@import "../mixins/breakpoints";
@import "../common/variables";

.publications {
  #navigation {
    .wrapper {
      background: $color-yellow;

      .container .logo .svg-bg {
        background: url("../images/logo-black.svg") center center no-repeat;
      }
    }

    nav ul li a {
      color: $text-color-dark;
    }
  }

  #top {
    background: url("../images/page-publications-top-bg.svg") calc(50% + 300px) calc(100% + 18px) no-repeat $color-yellow;;
    color: $text-color-dark;

    .container{
      min-height: 420px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .lead {
        max-width: 45%;
      }
    }
  }

  .bg {
    background: $color-beige;
    padding-top: 100px;
  }

  #publications-books {
    background: url('../images/page-publications-books-bg.svg') center top no-repeat;
    margin-bottom: 60px;
    min-height: 360px;
  }

  #publications-articles {
    padding-bottom: 120px;

    .container {
      padding: 0;
    }

    .lead {
      margin-right: 0;
      margin-bottom: 0;
    }

    .wrapper{
      article {
        max-width: 100%;
        position: relative;
        border-bottom: 1px solid $color-blue-dark;

        span {
          color: $color-orange;
        }

        h3 {
          color: $text-color-dark;
          margin: 10px 0 10px -2px;
        }

        p {
          font-size: 18px;
          color: $text-color-dark;
        }

        img {
          display: none;
        }

        &:hover {
          img {
            display: block;
            width: 30%;
            height: auto;
            position: absolute;
            top: -100px;
            left: 50%;
            z-index: 10;
          }
        }
      }
    }
  }
}
