@import "../common/variables";

.text-center {text-align: center}

.pre-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: -35px;
  margin-left: -3px;
}

.title {
  font-size: 88px;
  line-height: 104px;
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  margin-left: -9px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-small {
  font-size: 64px;
  line-height: 88px;
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  margin-left: -5px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dot {
  width: 170px;
  height: 170px;
  background: $color-orange;
  color: $color-white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  span {
    margin-top: 20px;
    text-align: center;
  }
  img {
    margin-top: 10px;
  }
}

.more {
  display: inline-block;
  margin: 0 auto;
}
